

body, h1, h2, h3, p, ul, li {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
}

<!-- name at top of resume --->
#name {
    font-size: 3em;
    color: #33485e;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}

<!-- title under name -->
#title {
    font-size: 1.5em;
    color: #33485e;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    margin: 20px 0 0 0;
}

h2 {
    font-size: 1.5em;
    color: white;
    background-color: #33485e;
    text-transform: uppercase;
    font-weight: 400;
}

.title {
    font-size: 1.5em;
    color: #33485e;
    text-transform: uppercase;
    font-weight: 400;
}

.jobtitle {
    font-size: 1.5em;
    font-weight: 600;
}

.jobdate {
    font-size: 1em;
    font-style: italic;
    font-weight: 400;
}

.joborganization {
    font-size: 1.5em;
    font-weight: 400;
}

.contact li {
    font-size: 1em;
}

.skills li {
    font-size: 1em;
}

.education li {
    font-size: 1em;
}

